{
    "presets": [
        [
            "stage-3"
        ],
        [
            "env",
            {
                "modules": false
            }
        ]
    ],
    "plugins": [
        "syntax-async-functions",
        [
            "component",
            {
                "libraryName": "mint-ui",
                "style": true
            }
        ]
    ]
}
