@charset "UTF-8";
@import "../variables";

.about-us {
    width: 100%;
    height: 100%;
    background: #fafafa;
    .tab {
        width: 100%;
        text-align: center;
        background-color: #fff;
        z-index: 1;
        div {
            height: 40px;
            line-height: 40px;
            margin: 0 .5rem;
            border-bottom: 2px solid transparent;
            color: #999;
        }
        .active {
            border-bottom: 1px solid #4267ab;
            color: #4267ab;
        }
    }
    .banner {
        font-size: 1.1rem;
        color: #333;
        text-align: center;
        padding: 2rem 0 1.75rem;
        .img {
            width: 1.8rem;
            height: 1.8rem;
            margin-right: .1rem;
            margin-top: -.1rem;
        }
    }
    .seperate {
        margin-top: .5rem;
    }
    .section {
        padding: 1.5rem .75rem;
        background: #fff;
        font-size: .6rem;
        color: #666;
        box-shadow: 0 2px 4px 0 hsla(0, 0%, 85%, .5);
        border-radius: .1rem;
        line-height: 1rem;
        margin-left: .5rem;
        margin-right: .5rem;
        &.f7 {
            font-size: .7rem;
        }
        .text-index {
            text-indent: 1.2rem;
        }
        .title {
            color: #4267ab;
            font-size: 1.1rem;
            margin-bottom: 1.2rem;
            line-height: 1.6rem;
            &.f8 {
                font-size: .9rem;
            }

        }
        .info {
            text-align: center;
            margin-top: 1.5rem;
            .name {
                font-size: .9rem;
            }
            .position {
                font-size: .6rem;
            }
            .img {
                width: 4rem;
                height: 4rem;
                margin-bottom: .8rem;
                border-radius: 50%;
            }
        }
        .content-list {
            border-left: 1px solid #999;
            padding-left: .75rem;
            margin-top: .7rem;
        }
        .title_sub {
            font-size: .7rem;
            margin-bottom: .6rem;
            color: #333;
        }
        .content-direction .li {
            padding-left: .8rem;
            position: relative;
            &:before {
                content: "";
                width: .25rem;
                height: .25rem;
                border-radius: 50%;
                background: #87aae6;
                display: inline-block;
                position: absolute;
                left: 0;
                top: .4rem;
            }
        }
        .content-direction.bottom_10 {
            margin-bottom: 1.2rem;
        }
        .hetong {
            width: 14.2rem;
            height: 20rem;
        }
        .office-img {
            width: 14.2rem;
            height: 8rem;
        }
        .copa-li {
            margin-top: 1.5rem;
        }
        .company-img {
            width: 3.4rem;
            height: 3.4rem;
            border-radius: 50%;
            margin-right: .8rem;
        }
        .top40 {
            margin-top: 2rem;
        }
        .zhizhao {
            width: 12.5rem;
            height: 17.4rem;
            margin-bottom: 1rem;
        }
        .support {
            margin-top: 1rem;
        }
        .baoz-img {
            width: 3.3rem;
            height: 3.3rem;
        }
        .btn1 {
            margin-bottom: .8rem;
        }
        .color3 {
            color: #333;
        }
        .paddleft {
            padding-left: 1rem;
        }
        .cnt-icon {
            width: .8rem;
            height: auto;
            margin-top: .1rem;
        }
    }
}
